.container {
    max-width: 1160px;
}
.font { 
    font-family: 'Raleway';
    font-style: normal;
}
.header__top{
    display: flex;
}
.header__logo {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
    border: 2px solid #000000;
    border-radius: 8px;
    padding: 4px 8px;
    margin: 38px 248px 0px 140px;
}
.header__links {
    margin-top: 40px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 0px;
    display: flex;
    gap: 32px;
}
.header__link {
    text-decoration: none;
    color: #000000;
}
.header__icon_programmer {
    left: 1152px;
    top: 40px;
}
.icon_programmer {
    width: 170px;
    height: 150px;
    text-align: center;
    padding-top: 20px;
}
.icon {
    background: #F1F1F1;
    border-radius: 10000px;
    position: absolute;
}
.header__title {
    font-weight: 600;
    font-size: 64px;
    line-height: 64px;
    width: 830px;
    height: 128px;
    text-align: center;
    margin: 114px 318px 0 318px;
}
.icon_message {
    font-weight: 500;
    font-size: 28px;
    line-height: 24px;
    width: 64px;
    height: 44px;
    text-align: center;
    padding-top: 20px;
}
.header__icon_message {
    top: 362px;
    left: 209px;
}
.header__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    width: 484px;
    height: 48px;
    color: #000000;
    margin: 40px 478px; 
}
.icon_lightning {
    height: 65px;
    width: 100px;
    text-align: center;
    padding-top: 34px;
}
.header__icon_lightning {
    top: 410px;
    left: 1171px;
}
.header__button {
    height: 56px;
    border-radius: 8px;
    justify-content: center;
}
.header__button__Telegram {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    width: 215px;
    padding: 15px 15px 17px;

}
.button_black {
    background: #181818;
    color: #FFFFFF;
}
.header__button__video {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    width: 221px;
    padding: 15px 24px 17px 60px;
    position: relative;
}
.header__buttons {
    margin: 80px 494px 120px;
    display: flex;
    align-items: flex-start;
    gap: 16px;
    width: 452px;
}
.button_white {
    background-color: #FFFFFF;
    color: #181818;
}
.header__button_polygon {
    position: absolute;
    left: 24px;
    top: 16px;
}
.header__item {
    text-decoration: none;
    border: 1px solid #000000;
    border-radius: 10000px;
    padding: 4px 16px;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    align-items: flex-end;
}
.item_black {
    color: #FFFFFF;
    background-color: #181818;
}
.item_white {
    color: #181818;
}
.header__items {
    display: flex;
    width: 500px;
    height: 32px;
    gap: 17px;
    margin: 0px 484px 0px 483px;
}
.example__border {
    border: 1px solid #DBDBDB;
    border-radius: 20px;
}
.example__2photos {
    width: 1160px;
    display: flex;
    gap: 40px;
    margin: 0px 140px;
}
.example__photo2 {
    width: 560px;
    height: 458px;
}
.example__1photo {
    width: 1160px;
    height: 460px;
    margin: 40px 140px;
}
.example__1photo2 {
    width: 1160px;
    height: 544px;
    margin: 40px 140px;
}
.example__photo{
    width: 560px;
    height: 398px;
}
.presentation__text {
    width: 484px;
    height: 250px;
    margin: 200px 40px 24px 0px;
}
.presentation__text_top {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin: 24px 0px;
}
.presentation__h2 {
    font-weight: 600;
    font-size: 48px;
    line-height: 64px;
    width: 500px;
    height: 64px;
    margin: 0 auto;
}
.presentation-about-me {
    display: flex;
    gap: 40px;
}
.presentation__main {
    border-radius: 24px;
    width: 400px;
    height: 560px;
    margin: 120px 0px 120px 300px;
}
.presentation__digitals {
    display: flex;
    gap: 102px;
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
}
.presentation__digital {
    height: 24px;
}
.presentation__adds {
    display: flex;
    gap: 64px;
    height: 48px;
}
.presentation__add{
    margin: 0px;
}
.presentation__add_1 {
    width: 79px;
    height: 48px;
}
.presentation__add_2 {
    width: 87px;
    height: 48px;
}
.presentation__add_3 {
    width: 46px;
    height: 48px;
}
.presentation__icon__cup {
    width: 100px;
    height: 66px;
    text-align: center;
    padding-top: 30px;
    top: 3280px;
    left: 227px;
}
.services {
    background-color: #181818;
    height: 768px;
    width: 1440px;
    left: 0px;
    margin: 0px;
}
.h2__services {
    width: 156px;
    height: 64px;
    font-weight: 600;
    font-size: 48px;
    line-height: 64px;
    color: #FFFFFF;
    margin: 0px;
    padding: 120px 642px 80px;
}
.services__card {
    background: #FFFFFF;
    border-radius: 16px;
    width: 368px;
    height: 384px;
}
.services__number {
    width: 288px;
    height: 24px;
    font-weight: 500;
    font-size: 12px;
    line-height: 24px;
    padding: 40px 40px 8px 40px;
}
.h5__services {
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    padding: 0px 40px 16px 40px;
}
.text-paragraph__services{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    width: 288px;
    height: 96px;
    padding: 0px 40px 56px 40px;
}
.services__card__line {
    border: 1px solid #181818;
    background-color:#181818;
    width: 80px;
    height: 0px;
    margin-left: 40px;
}
.services__cards {
    display: flex;
    gap: 28px;
    margin: 0px 140px 120px 120px;
} 
.h4__services__prices {
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
    padding: 56px 40px 40px 40px;
}
.cost-calculation__form__watch {
    top: 4532px;
    left: 61px;
    width: 100px;
    height: 70px;
    text-align: center;
    padding-top: 25px;
}
.cost-calculation__form__programmer {
    top: 4655px;
    left: 1206px;
}
.cost-calculation__h2 {
    font-weight: 600;
    font-size: 48px;
    line-height: 64px;
    margin: 120px 497px 80px 497px;
    width: 500px;
    height: 64px;
}
.form {
    background: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 16px;
}
.cost-calculation__form {
    width: 448px;
    height: 368px;
    margin: 0px 496px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
}
.cost-calculationf__form__type-of-work {
    border: 1px solid #CCCCCC;
    background: #FFFFFF;
    border-radius: 8px;
    width: 400px;
    height: 48px;
    margin: 40px 24px 0px 24px;
}
.cost-calculation__form__checbox {
    width: 331px;
    height: 48px;
    margin: 24px 61px 8px 24px;
}
.cost-calculation__button {
    background: #FFFFFF;
    border: 2px solid #181818;
    border-radius: 16px;
    width: 400px;
    height: 56px;
    margin: 30px 24px 40px 24px;
}
.cost-calculation__draft__h4 {
    font-weight: 600;
    font-size: 32px;
    line-height: 64px;
    padding: 40px 58px 24px 24px;
    margin: 0px;
    width: 325px;
    height: 64px;
}
.cost-calculation__draft {
    background: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 0px 0px 16px 16px;
    width: 400px;
    height: 384px;
    align-items: center;
    margin: 0px 520px;
    margin-bottom: 120px;
}
.cost-calculation__draft__price {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    padding: 0px 293px 0px 24px;
    width: 150px;
}
.cost-calculation__draft__digitals {
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    padding: 0px 200px 24px 24px;
}
.cost-calculation__draft__button{
    width: 352px;
    height: 56px;
    border-radius: 8px;
    margin: 16px 24px 40px 24px;
}
.question-answer {
    background-color: #181818;
    height: 1232px;
    width: 1440px;
    left: 0px;
    margin: 0px; 
}
.question-answer__h2 {
    color: #FFFFFF;
    margin: 0px;
    padding: 120px 562px 80px 562px;
    width: 350px;
    height: 64px;
    font-weight: 600;
    font-size: 48px;
    line-height: 64px;
}
.question-answer__question {
    position: relative;
    margin-bottom: 16px;
    width: 100%;
    color: #181818;
    overflow: hidden;
    border-radius: 16px;
    margin: 0px 2px 16px 140px;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    
}
.question-answer__question input {
    position: absolute;
    opacity: 0;
    /* z-index: -1; */
}
.question-answer__question label {
    position: relative;
    display: block;
    padding: 0 0 0 1em;
    background: #FFFFFF;
    line-height: 3;
    cursor: pointer;
    text-shadow: 0 1px 0 #333131;
    font-size: 17px;
    height: 88px;
}
.question-answer__content {
    max-height: 0;
    overflow: hidden;
    background: #FFFFFF;
    transition: max-height .40s;
    color: #181818;
    text-shadow: 0 1px 0 #292727;
    font-weight: 100;
    font-size: 16px;
    line-height: 24px;
}
.question-answer__content {
    background: #FFFFFF;
}
.question-answer__content p {
    margin: 1em;
}
  /* :checked */
.question-answer__question input:checked ~ .question-answer__content {
    max-height: 100vh;
}
  
  /* Icon */
.question-answer__question label::after {
    position: absolute;
    right: 0;
    top: 0;
    display: block;
    width: 3em;
    height: 3em;
    line-height: 3;
    text-align: center;
    -webkit-transition: all .40s;
    -o-transition: all .40s;
    transition: all .40s;
}
  .question-answer__question input[type=checkbox] + label::after {
    content: "+";
}
  .question-answer__question input[type=radio] + label::after {
    content: "\25BC";
}
  .question-answer__question input[type=checkbox]:checked + label::after {
    transform: rotate(45deg);
}
  .question-answer__question input[type=radio]:checked + label::after {
    transform: rotateX(180deg);
}
.request__icon_lightning {
    width: 100px;
    height: 66px;
    left: 111px;
    top: 6774px;
}
.request__icon_programmer {
    width: 170px;
    height: 150px;
    left: 1252px;
    top: 7156px;
}
.request__icon_message {
    width: 140px;
    height: 100px;
    left: 250px;
    top: 7392px;
    font-weight: 500;
    font-size: 56px;
    line-height: 24px;
    padding-top: 40px;
}
.request__message {
    width: 56px;
    height: 56px;
}
.request__h2 {
    font-weight: 600;
    font-size: 48px;
    line-height: 64px;
    margin: 120px 535px 8px 534px;
    width: 390px;
    height: 64px;
}
.request__add {
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    margin: 0px 530px;
    width: 400px;
    height: 24px;
}
.request__form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    width: 448px;
    height: 582px;
    margin: 60px 496px 160px 496px;
}
.border_little {
    background: #FFFFFF;    
    border-radius: 8px;
}
.request__name {
    width: 33px;
    height: 24px;
    padding: 12px 351px 12px 16px;
    margin: 24px 24px 8px 24px;
}
.request__mail {
    width: 47px;
    height: 24px;
    padding: 12px 337px 12px 16px;
    margin: 0px 24px 8px 24px;
}
.request__services__datalist {
    width: 363px;
    height: 24px;
    padding: 12px 21px 12px 16px;
    margin: 0px 24px;
}
.request__comment {
    width: 107px;
    height: 24px;
    padding: 12px 277px 124px 16px;
    margin: 16px 24px 24px 24px;
}
.request__message__button {
    width: 400px;
    height: 56px;
    border-radius: 8px;
    margin: 0px 24px 40px;
}
@media(max-width: 1100px) {
    .header__logo {
        
    }
}